.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-block: 3cm;

    .location-cont {
        width: 80%;
        background-image: url(https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&w=600);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        height: 50vh !important;
        border-radius: 20px;
        align-items: center;

        .location-info {
            background: var(--second-color);
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding-block: 20px;
            padding-inline: 20px;
            height: fit-content;
            width: fit-content;
            text-align: center;
        }
    }
}

/* Mobile screens */
@media (max-width:600px) {
    .location {
        padding-inline: 5px;
        text-align: center;
        h1 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
        .location-cont {
            width: 95%;
            height: 30vh !important;
        }
    }
}

/* Medium screens */
@media (min-width:601px) and (max-width:1284px) {
    .location {
        padding-block: 2cm;
        text-align: center;
        gap: 15px;
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.1rem;
            width: 80%;
            text-align: center;
        }
        .location-cont {
            width: 90%;
            height: 40vh !important;

            .location-info {
                padding-block: 15px;
                padding-inline: 15px;
                gap: 8px;
            }
        }
    }
}
