.banner {
    width: 100%;
    background: var(--second-color);
    height: clamp(10px, 6vh, 80px);
    align-items: center !important;
    justify-content: space-around !important;
    display: flex;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        align-items: center !important;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .banner {

        ul {
            justify-content: flex-end;
            padding-inline: 20px;
            gap: 20px;
            font-size: medium;

            li {
                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }
}